<nav id="nav-panel">
	<div></div>
	<div>
		<div class="logo centered-img">
			<div class="backdrop"></div>
			<input type="checkbox">
		</div>
	</div>
	<div>
		<div class="btn" title="home">
			<div class="centered-img"></div>
			<div>
				<p>HOME</p>
			</div>
			<input type="radio" name="nav-panel-btn">
		</div>
		<div class="btn" title="place-order">
			<div class="centered-img"></div>
			<div>
				<p>PLACE ORDER</p>
			</div>
			<input type="radio" name="nav-panel-btn" checked>
		</div>
		<div class="btn" title="add-item">
			<div class="centered-img"></div>
			<div>
				<p>ADD ITEM</p>
			</div>
			<input type="radio" name="nav-panel-btn">
		</div>
		<div class="btn" title="add-item">
			<div class="centered-img"></div>
			<div>
				<p>REPORTS</p>
			</div>
			<input type="radio" name="nav-panel-btn">
		</div>
	</div>
</nav>
<div id="content-container">
	<section id="home-section" class="hide">
		<div class="container">
			<h1>MOS BURGERS</h1>
		</div>
	</section>
	<section class="hide">
		
	</section>
	<section class="hide"></section>
	<section class="hide"></section>
</div>
